@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #171717;
  --text-secondary: #666666;
  -border-color-: #e5e7eb;
  --font-family-base: 'Montserrat', sans-serif;
}

:root.dark {
  --background: #181818;
  --foreground: #ededed;
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --border-color: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-base);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #181818;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-base);
}


pre {
  padding: 16px 20px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 24px 0;
  font-size: 14px;
  line-height: 1.6;
}

/* highlight.js housekeeping */
pre code.hljs {
  padding: 0;
  background: none;
}

/* 🌞 Site LIGHT → Code DARK */
:root:not(.dark) pre {
  background: #0d1117; /* GitHub dark */
  color: #e6edf3;
}


/* Site light → dark inline code */
:root:not(.dark) :not(pre) > code {
  background: #161b22;
  color: #e6edf3;
}
