@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #171717;
  --text-secondary: #666666;
  -border-color-: #e5e7eb;
  --font-family-base: 'Montserrat', sans-serif;
}

:root.dark {
  --background: #181818;
  --foreground: #ededed;
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --border-color: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-base);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #181818;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-base);
}