.headingMd {
  font-size: 1.25rem;      
  line-height: 1.25;      
  margin-top: 1rem;       
  margin-bottom: 1rem;
}

.padding1px {
  padding: 1px;           
}

.headingLg {
  font-size: 2.25rem;     
  line-height: 1.25;   
  margin-top: 1rem;      
  margin-bottom: 1rem;
}

.list {
  list-style: none;       
  padding: 0;             
  margin: 0;            
}

.listItem {
  margin-bottom: 1.25rem; /* mb-5 */
}

.mdContentH2 {
   font-size: 1.15rem;      
  line-height: 1.25;      
  margin-top: 1rem;       
  margin-bottom: 1rem;
}
